[Desktop Entry]
Type=Application
Name=MobiDevices
Comment=Media about gadgets and technologies
Icon=com.mobidevices.desktop
Exec=mobidevices-app
Categories=Network;News;
Terminal=false
StartupNotify=true
