#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --manifest-path src-tauri/Cargo.toml --release --locked

override_dh_auto_install:
	sh linux/install-assets.sh \
		src-tauri/target/release/mobidevices-app \
		debian/mobidevices/usr/bin \
		mobidevices \
		linux/mobidevices.desktop.in \
		debian/mobidevices/usr/share \
		com.mobidevices.desktop.desktop \
		mobidevices \
		com.mobidevices.desktop \
		src-tauri/icons \
		com.mobidevices.desktop \
		linux/com.mobidevices.desktop.metainfo.xml \
		com.mobidevices.desktop.metainfo.xml
