pkgbase = mobidevices
	pkgdesc = Native desktop client for MobiDevices.com
	pkgver = 1.0.0
	pkgrel = 1
	url = https://mobidevices.com
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = npm
	depends = gtk3
	depends = webkit2gtk-4.1
	source = mobidevices-1.0.0.tar.gz::https://github.com/MobiDevices/MobiDevices/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = mobidevices
